article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

img.book-img {
    width: 300px;
    height: 300px;
}

#error{
    color:red;
}

.book-cover {
    float: left;
    padding: 20px;
    margin-left: 58px;
}

.book-author {
    top: -30px;
    font-size: 17px;
    font-weight: normal;
    font-family: arial,helvetica,sans-serif;
    position: relative;
    left: 35px;
}

.book {
    height: 205px;
    padding: 10px;
    list-style: none;
}

.book-description {
    position: relative;
    left: 35px;
    top: 55px;
    margin-right: 60px;

}

.book-isbn10 {
    position: relative;
    left: 35px;
    top: -20px;
}

.horizontal-line {
    position: relative;
    top: 55px;
    left: -25px;
    width: 95%;
}

.book-isbn13 {
    position: relative;
    top: -8px;
    left: 35px;
}

.book-picture {
    width: 110px;
    float: left;
    height: 150px;
    padding: 18px;
    border: 1px solid lightGrey;
}

.book-content {
    width: 80%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.book-info, .book-actions {
    width: 57%;
    float: right;
    margin-bottom: 20px;
}

.book-title {
    font-size: 22px;
    font-weight: bold;
    cursor: auto;
    position: relative;
    top: -13px;
    left: 15px;
}
.description {
    float: left;
    position: relative;
    left: 80px;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    overflow: auto;
    height: 400px;
    width: 100%;
    line-height: 160%;
}

.title {
    font-size: 30px !important;
    padding-top: 54px;
}

.author {
    font-size: 20px !important;
}

.isbn {
    font-size: 15px;
    top: 20px;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
}

.profile {
    position: absolute;
    top: 59px;
    left: 147px;
    width: 90%;
    height: 90%;
}

.user-form {
    position: relative;
    top: 128px;
    left: 362px;
}

.submit-btn {
    position: relative;
    left: 250px;
}

.welcome {
    float: right;
    font-size: 21px;
    position: relative;
    right: 84px;
}

#logo {
    font-family: arial;
    font-size: 22px;
}