article,
footer,
header,
nav,
section {
    display: block;
    zoom: 1;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color:#000;
}

body {
    background: #7EB5D6;
    font-size:14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    *font-size:small;
    *font:x-small;
}

input[type="text"]:hover,
textarea:active,
input[type="text"]:active,
textarea:focus,
input[type="text"]:focus {
    outline:0px !important;
    -webkit-appearance:none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

.logo {
    float: left;
    margin-right: 10px;
    font-size: 1.9em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 0px;
    font-weight: bold;
    line-height: 1;
    padding-left: 24px;
}

.logo img {
    width: 26%;
    padding: 1px;

}

.navbar-fixed-top {
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #274257;
}

.navbar {
    overflow: visible;
    margin-bottom: 18px;
}

.navbar .dropdown-menu {
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.navbar-search {
    position: relative;
    padding-top: 7px;
    padding-right: 30px;
}
.navbar-search .search-query {
    padding: 4px 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #292727;
    border: 1px;
    background: #F1F0F0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.navbar-username{
    color: #ffffff;
}

.navbar-username a{
    color: #ffffff;
    text-decoration: none;
}

.navbar-right{
    position: relative;
    float: right;
    padding-top: 5px;
    padding-right: 30px;
}

.container {
    width:950px;
    min-height: 900px;
    background-color: whitesmoke;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 5px 5px rgba(0, 0, 0, 0.05);
    overflow:hidden;
    margin:0 auto;
    margin-top: 70px;
    padding: 10px;
    *zoom: 1;
}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.footer {
    background-color: #F5F5F5;
    width: 100%;
    display: block;
    padding: 70px 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-shadow: 0 6px 6px rgba(255, 255, 255, 0.75);
    background-color: #e6e6e6;
    border-style: outset;
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 8px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}
.btn:active,
.btn:hover,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #b0c4de;
    color: #2B2B2B;
}
.btn[disabled] {
    background-color: #e6e6e6;
}
img.book-img {
    width: 300px;
    height: 300px;
}

#error{
    color:red;
}

.book-cover {
    float: left;
    padding: 20px;
    margin-left: 58px;
}

.book-author {
    top: -30px;
    font-size: 17px;
    font-weight: normal;
    position: relative;
    left: 35px;
}

.book {
    overflow: hidden;
    padding: 10px;
    list-style: none;
}

.book-description {
    position: relative;
    left: 35px;
    top: 55px;
    margin-right: 60px;

}

.book-isbn10 {
    position: relative;
    left: 35px;
    top: -20px;
}

.horizontal-line {
    position: relative;
    top: 55px;
    left: -25px;
    width: 95%;
}

.book-isbn13 {
    position: relative;
    top: -8px;
    left: 35px;
}

.book-picture {
    width: 10%;
    float: left;
    height: 150px;
    padding: 18px;
    border: 1px solid lightGrey;
}

.book-content {
    width: 70%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.book-info, .book-actions {
    width: 57%;
    float: right;
    margin-bottom: 20px;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    cursor: auto;
    position: relative;
    top: -13px;
    left: 15px;
}
.description {
    float: left;
    position: relative;
    color: black;
    overflow: auto;
    height: 400px;
    width: 100%;
    line-height: 160%;
}

.title {
    font-size: 30px !important;
    padding-top: 54px;
}

.author {
    font-size: 20px !important;
}

.isbn {
    font-size: 15px;
    top: 20px;
}

.recommendations {
    float:right;
    margin-right: 50px;
}

.recommend-btn {
    position: relative;
    left: 40px;
    width: 90px;
}

.recommend-text {
    position: relative;
    left: 15px;
    font-size: 15px;
    top: 20px;
}

.profile {
    position: absolute;
    top: 59px;
    left: 147px;
    width: 90%;
    height: 90%;
}

.user-form {
    position: relative;
    top: 128px;
    left: 362px;
}

.submit-btn {
    position: relative;
    left: 250px;
}

.welcome {
    float: right;
    font-size: 21px;
    position: relative;
    right: 84px;
}

#logo {
    font-family: arial;
    font-size: 22px;
}