article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

img.book-img {
    width: 300px;
    height: 300px;
}

.book-cover {
    float: left;
    padding: 20px;
    margin-left: 58px;
}

.book-info {
    width: 57%;
    float: right;
}

.description {
    float: left;
    position: relative;
    left: 80px;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    overflow: auto;
    height: 400px;
    width: 100%;
    line-height: 160%;
}

.title {
    font-size: 30px !important;
    padding-top: 54px;
}

.author {
    font-size: 20px !important;
}

.isbn {
    font-size: 15px;
    position: relative;
    top: 20px;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
}

.profile {
    position: absolute;
    top: 59px;
    left: 147px;
    width: 90%;
    height: 90%;
}

.user-form {
    position: relative;
    top: 128px;
    left: 362px;
}

.submit-btn {
    position: relative;
    left: 250px;
}

.welcome {
    float: right;
    font-size: 21px;
    position: relative;
    right: 84px;
}

#logo {
    font-family: arial;
    font-size: 22px;
}