.book-cover {
    float: left;
    padding: 20px;
    margin-left: 58px;

}

.book-info {
    width: 57%;
    float: right;
}

.description {
    border-top: 2px red;
    float: left;
    width: 84%;
    position: relative;
    left: 80px;
    color: black;
    display: block;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
}

.title {
    font-size: 40px !important;
    padding-top: 54px;
}

.author {
    font-size: 30px !important;
}

.isbn {
    font-size: 15px;
    position: relative;
    top: 60px;
}

.container {
    width: 1062px;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
}